@font-face {
  font-family: civilPremiumMedium;
  src: url(../font/CivilPremium-Medium.otf);
}

@font-face {
  font-family: civilPremiumSemibold;
  src: url(../font/CivilPremium-SemiBold.otf);
}

body {
  width: 100vw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.navigate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.54);
  width: 3vw;
  position: relative;
  top: 5%;
  left: 1%;
  border-radius: 3rem;
  padding: 1.5rem 1rem;
}

.navigate-container .navbar-item {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #da2527 69%, #a80002 100%);
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 2px 2px 6px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 2px 2px 6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 2px 2px 6px rgba(255, 255, 255, 0.75);
  margin-bottom: 1.25rem;
  padding: 0.75rem;
  cursor: pointer;
}

.navigate-container .navbar-item:last-child {
  margin-bottom: 0;
}

.navigate-container .navbar-item:hover {
  opacity: 0.8;
  outline: white 2px solid;
}

.navigate-container .navbar-item img {
  width: 100%;
}

.navbar-close {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  border: none;
  background: linear-gradient(180deg, #da2527 69%, #a80002 100%);
  border-radius: 50%;
  padding: 0.15rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  right: 0.45rem;
  top: 0.75rem;
}

.navbar-close:hover {
  opacity: 0.8;
  outline: white 2px solid;
}

.language-menu {
  position: absolute;
  top: 77%;
  left: 110%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  padding: 10px;
  display: flex;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform-origin: left center;
  transform: scale(1);
  transition: scale 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.language-menu.hidden {
  scale: 0;
  opacity: 0;
}

.language-item {
  width: 30px;
  height: 30px;
  border: none;
  background: linear-gradient(to bottom, #d32f2f, #c62828);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
}

.language-item:hover {
  background: #b71c1c;
}

.menu-container {
  position: absolute;
  top: 3%;
  left: calc(4% + 3vw);
  width: 20vw;
  background: rgba(226, 215, 215, 0.6);
  border-radius: 1.5rem;
  padding: 0.75rem 1rem;
  max-height: 65vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  opacity: 100;
  transform-origin: left top;
  transform: scale(1);
  transition: scale 0.3s ease-in-out, opacity 0.3s ease-in-out;
  box-sizing: border-box;
  padding-top: 1rem;
  font-family: "civilPremiumSemibold", sans-serif !important;
}

.menu-container.hidden {
  opacity: 0;
  scale: 0;
}

.menu-group {
  width: 95%;
  background: linear-gradient(to bottom, #d32f2f, #c62828);
  border-radius: 2rem;
  margin: 8px 0;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  transition: border-radius 0.3s ease-in-out;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: linear-gradient(180deg, #da2527 69%, #a80002 100%);
  border: none;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
}

.menu-group.active {
  border-radius: 1.25rem;
  transition: border-radius 0.3s ease-in-out;
}

.menu-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  text-align: center;
  color: white;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  font-weight: 600;
}

.menu-toggle img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: solid white 2px;
}

.menu-toggle svg {
  width: 25px;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.menu-group.active .menu-toggle svg {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.menu-group .menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.submenu-toggle {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 2rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8rem;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.submenu-toggle .submenu-toggle-content {
  min-width: 20%;
  max-width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submenu-toggle:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.submenu-toggle svg {
  width: 15px;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
  margin-left: 0.25rem;
}

.submenu-toggle.active svg {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.submenu,
.submenu-content {
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}

.menu-group.active .submenu {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.submenu-content {
  padding-left: 1rem;
}

.submenu-content a {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem 2rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8rem;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  border-radius: 1rem;
}

.submenu-content a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#close-menu {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  border: none;
  background: linear-gradient(180deg, #da2527 69%, #a80002 100%);
  border-radius: 50%;
  padding: 0.15rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#close-menu:hover {
  opacity: 0.8;
  outline: white 2px solid;
}

.menu-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.54);
  position: fixed;
  bottom: 2%;
  left: 1%;
  border-radius: 3rem;
  padding: 1rem 1rem;
}

.menu-footer button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #da2527 69%, #a80002 100%);
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.menu-footer button:hover {
  opacity: 0.8;
  outline: white 2px solid;
}

.menu-footer button:last-child {
  margin-right: 0;
}

.menu-footer button img {
  width: 100%;
}

#mini-map {
  position: fixed;
  bottom: 12%;
  left: 1%;
  height: 200px;
  width: 15vw;
  border: 2px solid #ccc;
  border-radius: 1rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform-origin: bottom center;
  transform: scale(1);
  transition: scale 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#mini-map.hidden {
  scale: 0;
  opacity: 0;
}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-popup-content {
  background-color: red !important;
  color: white !important;
  font-size: 16px;
  padding: 10px;
}

.leaflet-popup-tip {
  background-color: red !important;
}

.location {
  font-family: "civilPremiumSemibold", sans-serif !important;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #da2527 69%, #a80002 100%);
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  font-size: 0.95rem;
  letter-spacing: 0.05rem;
}

.logo {
  width: 8vw;
  position: fixed;
  top: 3%;
  right: 1%;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  font-size: 0.95rem;
  font-weight: 600;
}

.logo img {
  width: 100%;
}

.website-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.54);
  position: fixed;
  bottom: 2%;
  right: 1%;
  border-radius: 3rem;
  padding: 1rem 1rem;
}

.website-menu button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #da2527 69%, #a80002 100%);
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.website-menu button img {
  width: 100%;
}

.website-menu a {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #da2527 69%, #a80002 100%);
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.website-menu button:hover,
.website-menu a:hover {
  opacity: 0.8;
  outline: white 2px solid;
}

.website-menu button:last-child,
.website-menu a:last-child {
  margin-right: 0;
}

.website-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.54);
  position: fixed;
  bottom: 11%;
  right: 1.75%;
  border-radius: 1rem;
  padding: 1rem 1rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform-origin: bottom center;
  transform: scale(1);
  transition: scale 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.website-popup.hidden {
  scale: 0;
  opacity: 0;
}

.website-popup a {
  height: 1.25rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #da2527 69%, #a80002 100%);
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75),
    inset 1px 2px 6px rgba(255, 255, 255, 0.75);
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 2rem;
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "civilPremiumSemibold", sans-serif !important;
}

.website-popup a:hover {
  opacity: 0.9;
  outline: white 2px solid;
}

.about-popup {
  box-sizing: border-box;
  width: 55vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem 3rem;
  border-radius: 1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.8rem;
  font-size: 1.052rem;
  scale: 1;
  transition: scale 0.5s ease-in-out;
  transform-origin: 0% 0%;
  font-family: "civilPremiumMedium", sans-serif;
}

.about-popup.hidden {
  scale: 0;
}

.about-popup p {
  margin-bottom: 1rem;
}

.about-popup .about-logo {
  width: 7vw;
  margin-bottom: 1rem;
}

.about-popup .about-logo img {
  width: 100%;
}

.about-popup .about-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.about-popup .about-menu button {
  width: 16%;
  height: 3.5rem;
  border-radius: 1rem;
  background: linear-gradient(180deg, #da2527 69%, #a80002 100%);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  opacity: 0.6;
}

.about-popup .about-menu button:hover {
  opacity: 1;
  outline: white 2px solid;
}

.about-popup .about-menu button.active {
  opacity: 1;
}

.about-popup .about-menu button.active:hover {
  outline: none;
}

#close-about-popup {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  border: none;
  background: linear-gradient(180deg, #da2527 69%, #a80002 100%);
  border-radius: 50%;
  padding: 0.15rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#close-about-popup:hover {
  opacity: 0.8;
  outline: white 2px solid;
}

.about-popup .about-content {
  display: none;
}

.about-popup .about-video {
  width: 700px;
  height: 400px;
  display: none;
}

.about-popup .about-video video {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.about-popup .about-image {
  width: 700px;
  height: 500px;
}

.about-popup .about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

@media (max-width: 600px) {
  .location {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }

  .navigate-container {
    width: 5vw;
    left: 2%;
    top: 3%;
    padding: 0.5rem 1rem;
  }

  .navigate-container .navbar-item {
    width: 40px;
    height: 40px;
    margin-bottom: 0.75rem;
  }

  .menu-container {
    width: 75vw;
    z-index: 999;
    padding: 0.5rem 0.75rem;
    left: calc(15% + 3vw);
  }

  #close-menu {
    width: 1.5rem;
    height: 1.5rem;
  }

  .menu-group {
    width: 90%;
  }

  .menu-toggle img {
    width: 25px;
    height: 25px;
  }

  .menu-toggle svg {
    width: 20px;
  }

  .menu-group .menu-toggle {
    font-size: 0.6rem;
  }

  .menu-group {
    font-size: 0.6rem;
  }

  .submenu-toggle {
    font-size: 0.6rem;
  }

  .submenu-content a {
    font-size: 0.6rem;
  }

  .submenu-toggle .submenu-toggle-content {
    max-width: 70%;
    font-size: 0.6rem;
  }

  .language-menu {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .logo {
    width: 15vw;
    right: 2%;
  }

  .menu-footer {
    padding: 0.5rem;
    flex-direction: column;
  }

  .menu-footer button {
    width: 35px;
    height: 35px;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
  }

  .website-menu {
    padding: 0.5rem;
  }

  .website-menu a {
    width: 15px;
    height: 15px;
    margin-right: 0.5rem;
  }

  .website-menu button {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
  }

  .website-menu a img {
    width: 90%;
  }

  .website-menu button img {
    width: 100%;
  }

  .website-popup {
    padding: 0.75rem;
    right: 5.75%;
  }

  .website-popup a {
    height: 1rem;
    width: 8rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .website-popup a:last-child {
    margin-bottom: 0;
  }

  .about-popup {
    font-size: 0.65rem;
    line-height: 0.75rem;
    width: 90vw;
    padding: 0.75rem 1rem;
  }

  .about-popup .about-logo {
    width: 15vw;
    margin-bottom: 0.75rem;
  }

  .about-popup .about-menu {
    margin-top: 0.5rem;
  }

  .about-popup .about-menu button {
    width: 28%;
    height: 2.75rem;
    font-size: 0.5rem;
  }

  #close-about-popup {
    width: 1.5rem;
    height: 1.5rem;
  }

  .about-popup p {
    margin-bottom: 0.75rem;
  }

  .about-popup .about-video,
  .about-popup .about-image {
    width: 275px;
    height: 200px;
  }

  #mini-map {
    width: 50vw;
    height: 50vw;
    left: 17%;
    bottom: 2%;
    transform-origin: left center;
  }
}

@media (min-width: 601px) and (max-width: 950px) {
  .location {
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
  }

  .navigate-container {
    width: 5vw;
    left: 2%;
    top: 3%;
    padding: 0.5rem 1rem;
  }

  .navigate-container .navbar-item {
    width: 55px;
    height: 55px;
    margin-bottom: 1.25rem;
  }

  .menu-container {
    width: 55vw;
    z-index: 999;
    padding: 0.5rem 0.75rem;
    left: calc(10% + 3vw);
  }

  #close-menu {
    width: 2rem;
    height: 2rem;
  }

  .menu-group {
    width: 90%;
  }

  .menu-toggle img {
    width: 35px;
    height: 35px;
  }

  .menu-toggle svg {
    width: 30px;
  }

  .menu-group .menu-toggle {
    font-size: 0.9rem;
  }

  .menu-group {
    font-size: 0.9rem;
  }

  .submenu-toggle {
    font-size: 0.9rem;
  }

  .submenu-content a {
    font-size: 0.9rem;
  }

  .submenu-toggle .submenu-toggle-content {
    max-width: 70%;
    font-size: 0.9rem;
  }

  .language-menu {
    padding: 0.75rem;
    gap: 1rem;
  }

  .language-item {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }

  .logo {
    width: 15vw;
    right: 2%;
  }

  .menu-footer {
    padding: 1rem;
  }

  .menu-footer button {
    width: 45px;
    height: 45px;
    margin-right: 1rem;
  }

  .website-menu {
    padding: 1rem;
  }

  .website-menu a {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
  }

  .website-menu button {
    width: 45px;
    height: 45px;
    margin-right: 1rem;
  }

  .website-menu a img {
    width: 90%;
  }

  .website-menu button img {
    width: 100%;
  }

  .website-popup {
    padding: 1.5rem;
    right: 2.75%;
  }

  .website-popup a {
    height: 2rem;
    width: 13rem;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .website-popup a:last-child {
    margin-bottom: 0;
  }

  .about-popup {
    font-size: 0.65rem;
    line-height: 0.75rem;
    width: 90vw;
    padding: 0.75rem 1rem;
  }

  .about-popup .about-logo {
    width: 15vw;
    margin-bottom: 0.75rem;
  }

  .about-popup .about-menu {
    margin-top: 0.5rem;
  }

  .about-popup .about-menu button {
    width: 28%;
    height: 2.75rem;
    font-size: 0.5rem;
  }

  #close-about-popup {
    width: 1.5rem;
    height: 1.5rem;
  }

  .about-popup p {
    margin-bottom: 0.75rem;
  }

  .about-popup .about-video,
  .about-popup .about-image {
    width: 275px;
    height: 200px;
  }

  #mini-map {
    width: 35vw;
    height: 35vw;
    bottom: 10%;
    transform-origin: bottom center;
  }
}

@media (min-width: 951px) and (max-width: 1024px) {
  .navigate-container .navbar-item {
    width: 45px;
    height: 45px;
    margin-bottom: 1rem;
  }

  .menu-container {
    width: 45vw;
    z-index: 999;
    padding: 0.5rem 0.75rem;
    left: calc(5% + 3vw);
  }

   .language-menu  {
    top: 74%;
   }

  #close-menu {
    width: 2rem;
    height: 2rem;
  }

  .menu-group {
    width: 90%;
  }

  .menu-toggle img {
    width: 35px;
    height: 35px;
  }

  .menu-toggle svg {
    width: 30px;
  }

  .menu-group .menu-toggle {
    font-size: 0.75rem;
  }

  .menu-group {
    font-size: 0.75rem;
  }

  .submenu-toggle {
    font-size: 0.75rem;
  }

  .submenu-content a {
    font-size: 0.75rem;
  }

  .submenu-toggle .submenu-toggle-content {
    max-width: 70%;
    font-size: 0.75rem;
  }

  .website-menu a img {
    width: 90%;
  }

  .website-menu button img {
    width: 100%;
  }

  .website-popup {
    padding: 1rem;
    right: 3.75%;
    bottom: 13%;
  }

  .website-popup a {
    height: 1.5rem;
    width: 12rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .website-popup a:last-child {
    margin-bottom: 0;
  }

  .about-popup {
    font-size: .9rem;
    line-height: 1.2rem;
    width: 80vw;
    padding: 1rem 1.25rem;
  }

  .about-popup .about-logo {
    width: 8vw;
    margin-bottom: 0.75rem;
  }

  .about-popup .about-menu {
    margin-top: 0.5rem;
  }

  .about-popup .about-menu button {
    width: 28%;
    height: 2.75rem;
    font-size: 0.8rem;
  }

  #close-about-popup {
    width: 1.5rem;
    height: 1.5rem;
  }

  .about-popup p {
    margin-bottom: 0.75rem;
  }

  .about-popup .about-video,
  .about-popup .about-image {
    width: 500px;
    height: 350px;
  }

  #mini-map {
    width: 25vw;
    height: 25vw;
    bottom: 13%;
    transform-origin: bottom center;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .menu-container {
    width: 30vw;
    z-index: 999;
    padding: 0.5rem 0.75rem;
    left: calc(4% + 3vw);
  }

  .menu-group {
    width: 90%;
  }

  .menu-group .menu-toggle {
    font-size: 0.9rem;
  }

  .menu-group {
    font-size: 0.9rem;
  }

  .submenu-toggle {
    font-size: 0.9rem;
  }

  .submenu-content a {
    font-size: 0.9rem;
  }

  .submenu-toggle .submenu-toggle-content {
    max-width: 70%;
    font-size: 0.9rem;
  }

  .website-menu a img {
    width: 90%;
  }

  .website-menu button img {
    width: 100%;
  }

  .website-popup {
    padding: 1.5rem;
    right: 2.5%;
  }

  .website-popup a {
    height: 1.5rem;
    width: 12rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .website-popup a:last-child {
    margin-bottom: 0;
  }

  .about-popup {
    width: 70vw;
    padding: 1rem 3rem;
    font-size: 0.75rem;
  }

  .about-popup .about-logo {
    width: 6vw;
    margin-bottom: 0rem;
  }

  .about-popup .about-menu {
    margin-top: 1rem;
  }

  .about-popup .about-menu button {
    width: 25%;
    height: 3rem;
  }

  #close-about-popup {
    width: 1.5rem;
    height: 1.5rem;
  }

  .about-popup p {
    margin-bottom: 0.75rem;
  }

  .about-popup .about-video,
  .about-popup .about-image {
    width: 700px;
    height: 450px;
  }

  #mini-map {
    width: 18vw;
    height: 18vw;
    bottom: 12%;
    transform-origin: bottom center;
  }
}

@media (min-width: 1200px) {
}
